<h1>Hello, <%= @municipe.full_name %>!</h1>

<p>Your registration has been successfully completed in our system.</p>
<p>Here are some details of your registration:</p>
<ul>
  <li>Full Name: <%= @municipe.full_name %></li>
  <li>CPF: <%= @municipe.cpf %></li>
  <li>CNS: <%= @municipe.cns %></li>
  <li>Email: <%= @municipe.email %></li>
  <li>Date of Birth: <%= @municipe.birth %></li>
  <li>Phone: <%= @municipe.phone %></li>
  <li>Status: <%= @municipe.status %></li>
</ul>

<p>Thank you for registering!</p>